.form{

    display: flex;
    margin: 50px 500px;


}

.errorsmsg{
    color: red;
}

.inputerror{
    border-color: red;
}

.form input{

    width: 300px;
    height: 30px;
}

.address{
    margin: 20px 50px;
    padding: 20px 12px;
}

.address h1{
    font-size: 50px;
}

.officetext{

    margin: 10px 0px;
}

.address:hover{
    text-shadow: 0 0 100px black;
}