

.footer{

    width: 100vw;
    height: 20vh;
    background-color: black;
    color: antiquewhite;
    display: flex;



}

.footer ul {
    display: flex;
    margin: 20px 20px;
}

.footer li{
    list-style: none;
}

.left li{
    margin: 10px 5px;

}

.logos img{
     height: 50px;
     width: 50px;

}

.logos {
    margin: 0px 20px;
}

.right {
    margin-left: 500px;
    height: 100px;
    width: 300px;
    /* border: 2px solid red; */
}


